apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: allow-portforward-to-longhorn-ui
  namespace: longhorn-system
spec:
  endpointSelector:
    matchExpressions:
      - key: app
        operator: In
        values: ["longhorn-ui"]
      - key: app.kubernetes.io/name
        operator: In
        values: ["longhorn-ui"]
  ingress:
  - fromEntities:
    - host
    - remote-node
    - kube-apiserver
    toPorts:
    - ports:
      - port: "8000"
        protocol: TCP